.landingPage {
  margin-top: 16px;
  h3 {
    margin: 0;
    margin-top: 8px;
  }
  .movieTitle {
    min-height: 2rem;
  }
  .ms-Dropdown-container {
    min-width: 150px;
  }
  @media (min-width: 420px) {
    .filters{
      height: 30px;
    }
  }
}
