@import "~office-ui-fabric-core/dist/sass/References";

.App {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  padding: 4px;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.card {
  @include ms-motion-slideUpIn;
  padding: 12px;
  margin-bottom: 20px;
}

img,
.card {
  border-radius: 12px;
}
